fastapi
uvicorn
python-multipart
tqdm==4.43.0
torch== https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
torchvision==0.2.2.post3
opencv_contrib_python==4.2.0.34
scipy==1.4.1
# tensorflow==2.2.1
gluoncv==0.7.0
gdown==3.11.1
Pillow==7.1.2
mxnet==1.6.0
scikit_image